.Blog__Grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (min-width: 768px) {
  .Blog__Grid {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media only screen and (max-width: 400px) {
  .Blog__Grid {
    grid-template-columns: 100%;
  }
}
