.BlogCard__Container {
  cursor: pointer;
  width: auto;
  height: 10rem;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 1rem;
  background-color: rgba(50, 50, 50, 0.975);
  box-shadow: 0 0 3px rgba(46, 45, 45, 0.619);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BlogCard__Container:hover {
  transform: scale(1.03);
}

.BlogCard__Header {
  font-size: 1.1rem;
  font-weight: 500;
}

.BlogCard__Footer {
  font-size: 0.8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.BlogCard__Footer > span {
  margin: 0 0 0 0.3rem;
}
